@{
    ViewData["Title"] = "Ideone";
}
<h1>@ViewData["Title"]</h1>

<p>Ideone Test</p>
<p>Notes: Reached out to Sphere Engine about possibility of free student accounts.</p>

<script src="https://ideone.com" type="text/javascript"></script>