@{
    ViewData["Title"] = "Replit";
}
<h1>@ViewData["Title"]</h1>

<p>Replit Test</p>

@*<iframe frameborder="0" width="100%" height="500px" src="https://repl.it/breannagaran/JavaRepl?lite=true"></iframe>*@

<iframe height="400px" width="100%" src="https://repl.it/@@BreannaGaran/JavaRepl?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>