@{
    ViewData["Title"] = "Skill Stack";
}
<h1>@ViewData["Title"]</h1>

<p>Skill Stack Test</p>

<iframe id="ifrm" src="https://www.skillstack.com/embedchallenges/?courseid=java21ssh&examplepath=echotest&challenge=1237&loggedin=false" width="100%" height="600"></iframe>